<form [formGroup]="loginForm" (ngSubmit)="login()">
  <h1>Dobro dosli</h1>
  <div class="social-container">
    <a href="https://www.facebook.com/" class="social"
      ><i class="fab fa-facebook-f"></i
    ></a>
    <a href="https://www.google.com/gmail/about/" class="social"
      ><i class="fab fa-google-plus-g"></i
    ></a>
    <a href="https://rs.linkedin.com/" class="social"
      ><i class="fab fa-linkedin-in"></i
    ></a>
  </div>
  <span>ili koristite Vas nalog</span>
  <input formControlName="username" type="text" placeholder="Korisnicko ime" autocomplete="on" />
  <input formControlName="password" type="password" placeholder="Sifra" autocomplete="on"/>
  <a href="#">Zaboravili ste sifru?</a>
  <button type="submit">Uloguj se</button>
</form>
