<div class="login-box">
  <h2>Unesite autora</h2>
  <form [formGroup]="writerForm" (ngSubmit)="addWriter()">
  <div class="user-box">
    <input formControlName="name" type="text" />
    <label>Ime</label>
  </div>
  <div class="user-box">
    <input formControlName="surname" type="text" />
    <label>Prezime</label>
  </div>
  <div class="user-box">
    <input formControlName="birthDate" type="date" name="date">
    <label>Datum rodjenja</label>
  </div>
  <button type="button" (click)="preskoci()" class="button">
    Preskoci
  </button>
  <button type="submit">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Potvrdi
  </button>
</form>
</div>