@import "../../account/account.component.scss";
.login-box .user-box { 
    margin-bottom: 0px;
}
.button {
    margin-right: 13px; 
    margin-left: -13px;
    background-color: hsla(44, 89%, 59%, 0.596) !important; 
    border-radius: 3px !important;
    color: #ffffff !important;
     &:hover {
        color: #ffffff7a; 
        background-color: #F3C13A !important;
        box-shadow: none !important;
        border-radius: 3px;
     }
}